.title{
    font-size: 30px;
    text-align: center;
    color: #160C28;
    font-weight: bolder;
}

.date{
    font-weight: bolder;
    color: #02182B;
    font-size: 18px;
}

.notes{
    font-size: 16px;
    font-weight: normal;
}

.titleGoal{
    font-size: 30px;
    font-weight: bolder;
    margin-left: 10px;
}

.titleGoalDetail{
    font-size: 35px;
    text-align: center;
    color: #160C28;
    font-weight: bolder;
    width: 100%;
    margin-left: 15px;
}

.subtitle{
    font-size: 16px;
    text-align: center;
    color: #160C28;
    font-weight: bolder;
}

.subtitle2{
    font-size: 15px;
    text-align: center;
    color: #160C28;
    font-weight: bolder;
    width: 100%;
}

.terminosYCondiciones{
    font-weight: bolder;
}

.toolbarTitle{
    font-size: 30px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
}

.names{
    font-size: 30px;
    font-weight: bolder; 
}

.profileName{
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    width: 100%;
}

.homeText{
    font-size: 40px;
    font-weight: bolder;
    width: 100%;
    margin-left: 10px;
    margin-top: 20px;
}

.infoText{
    font-size: 24px;
    font-weight: bolder;
    width: 100%;
    margin-left: 5px; 
}

.score{
    width: 100%;
    text-align: right;
    font-size: 30px;
}

.task{
    font-size: 30px;
}