/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #011627;
  --ion-color-primary-rgb: 1, 22, 39;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #011322;
  --ion-color-primary-tint: #1a2d3d;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-purple: #160c28;
  --ion-color-purple-rgb: 22, 12, 40;
  --ion-color-purple-contrast: #ffffff;
  --ion-color-purple-contrast-rgb: 255, 255, 255;
  --ion-color-purple-shade: #130b23;
  --ion-color-purple-tint: #2d243e;

  --ion-color-darkblue: #9cc7eb;
  --ion-color-darkblue-rgb: 1, 22, 39;
  --ion-color-darkblue-contrast: #ffffff;
  --ion-color-darkblue-contrast-rgb: 255, 255, 255;
  --ion-color-darkblue-shade: #011322;
  --ion-color-darkblue-tint: #1a2d3d;

  --ion-color-smoke: #f2efea;
  --ion-color-smoke-rgb: 242, 239, 234;
  --ion-color-smoke-contrast: #000000;
  --ion-color-smoke-contrast-rgb: 0, 0, 0;
  --ion-color-smoke-shade: #d5d2ce;
  --ion-color-smoke-tint: #f3f1ec;

  --ion-color-orange: #FF5714;
  --ion-color-orange-rgb: 255,87,20;
  --ion-color-orange-contrast: #FFFFFF;
  --ion-color-orange-contrast-rgb: 0,0,0;
  --ion-color-orange-shade: #e04d12;
  --ion-color-orange-tint: #ff682c;

  --ion-color-green: #98ce00;
  --ion-color-green-rgb: 152, 206, 0;
  --ion-color-green-contrast: white;
  --ion-color-green-contrast-rgb: 0, 0, 0;
  --ion-color-green-shade: #86b500;
  --ion-color-green-tint: #a2d31a;

  --ion-color-lightblue: #3AC1FA;
  --ion-color-lightblue-rgb: 58,193,250;
  --ion-color-lightblue-contrast: #FFFFFF;
  --ion-color-lightblue-contrast-rgb: 0,0,0;
  --ion-color-lightblue-shade: #33aadc;
  --ion-color-lightblue-tint: #4ec7fb;

  --ion-color-lightpurple: #5e628b;
  --ion-color-lightpurple-rgb: 184, 186, 207;
  --ion-color-lightpurple-contrast: #000000;
  --ion-color-lightpurple-contrast-rgb: 0, 0, 0;
  --ion-color-lightpurple-shade: #a2a4b6;
  --ion-color-lightpurple-tint: #bfc1d4;

  --ion-color-gold: #ffd700;
  --ion-color-gold-rgb: 255, 215, 0;
  --ion-color-gold-contrast: #000000;
  --ion-color-gold-contrast-rgb: 0, 0, 0;
  --ion-color-gold-shade: #e0bd00;
  --ion-color-gold-tint: #ffdb1a;

  --ion-color-platinum: #ebebeb;
  --ion-color-platinum-rgb: 235, 235, 235;
  --ion-color-platinum-contrast: #000000;
  --ion-color-platinum-contrast-rgb: 0, 0, 0;
  --ion-color-platinum-shade: #cfcfcf;
  --ion-color-platinum-tint: #ededed;

  --ion-color-steelblue: #b7cceb;
  --ion-color-steelblue-rgb: 183, 204, 235;
  --ion-color-steelblue-contrast: #000000;
  --ion-color-steelblue-contrast-rgb: 0, 0, 0;
  --ion-color-steelblue-shade: #a1b4cf;
  --ion-color-steelblue-tint: #bed1ed;

  --ion-color-lapiz: #015f93;
  --ion-color-lapiz-rgb: 1, 95, 147;
  --ion-color-lapiz-contrast: #ffffff;
  --ion-color-lapiz-contrast-rgb: 255, 255, 255;
  --ion-color-lapiz-shade: #015481;
  --ion-color-lapiz-tint: #1a6f9e;

  --ion-color-title: #fbfbf2;
  --ion-color-title-rgb: 251, 251, 242;
  --ion-color-title-contrast: #000000;
  --ion-color-title-contrast-rgb: 0, 0, 0;
  --ion-color-title-shade: #ddddd5;
  --ion-color-title-tint: #fbfbf3;
}

.ion-color-title {
  --ion-color-base: var(--ion-color-title);
  --ion-color-base-rgb: var(--ion-color-title-rgb);
  --ion-color-contrast: var(--ion-color-title-contrast);
  --ion-color-contrast-rgb: var(--ion-color-title-contrast-rgb);
  --ion-color-shade: var(--ion-color-title-shade);
  --ion-color-tint: var(--ion-color-title-tint);
}

.ion-color-lapiz {
  --ion-color-base: var(--ion-color-lapiz);
  --ion-color-base-rgb: var(--ion-color-lapiz-rgb);
  --ion-color-contrast: var(--ion-color-lapiz-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lapiz-contrast-rgb);
  --ion-color-shade: var(--ion-color-lapiz-shade);
  --ion-color-tint: var(--ion-color-lapiz-tint);
}

.ion-color-steelblue {
  --ion-color-base: var(--ion-color-steelblue);
  --ion-color-base-rgb: var(--ion-color-steelblue-rgb);
  --ion-color-contrast: var(--ion-color-steelblue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-steelblue-contrast-rgb);
  --ion-color-shade: var(--ion-color-steelblue-shade);
  --ion-color-tint: var(--ion-color-steelblue-tint);
}

.ion-color-platinum {
  --ion-color-base: var(--ion-color-platinum);
  --ion-color-base-rgb: var(--ion-color-platinum-rgb);
  --ion-color-contrast: var(--ion-color-platinum-contrast);
  --ion-color-contrast-rgb: var(--ion-color-platinum-contrast-rgb);
  --ion-color-shade: var(--ion-color-platinum-shade);
  --ion-color-tint: var(--ion-color-platinum-tint);
}

.ion-color-gold {
  --ion-color-base: var(--ion-color-gold);
  --ion-color-base-rgb: var(--ion-color-gold-rgb);
  --ion-color-contrast: var(--ion-color-gold-contrast);
  --ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb);
  --ion-color-shade: var(--ion-color-gold-shade);
  --ion-color-tint: var(--ion-color-gold-tint);
}

.ion-color-lightpurple {
  --ion-color-base: var(--ion-color-lightpurple);
  --ion-color-base-rgb: var(--ion-color-lightpurple-rgb);
  --ion-color-contrast: var(--ion-color-lightpurple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightpurple-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightpurple-shade);
  --ion-color-tint: var(--ion-color-lightpurple-tint);
}

.ion-color-lightblue {
  --ion-color-base: var(--ion-color-lightblue);
  --ion-color-base-rgb: var(--ion-color-lightblue-rgb);
  --ion-color-contrast: var(--ion-color-lightblue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightblue-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightblue-shade);
  --ion-color-tint: var(--ion-color-lightblue-tint);
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green);
  --ion-color-base-rgb: var(--ion-color-green-rgb);
  --ion-color-contrast: var(--ion-color-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-green-shade);
  --ion-color-tint: var(--ion-color-green-tint);
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange);
  --ion-color-base-rgb: var(--ion-color-orange-rgb);
  --ion-color-contrast: var(--ion-color-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-orange-shade);
  --ion-color-tint: var(--ion-color-orange-tint);
}

.ion-color-smoke {
  --ion-color-base: var(--ion-color-smoke);
  --ion-color-base-rgb: var(--ion-color-smoke-rgb);
  --ion-color-contrast: var(--ion-color-smoke-contrast);
  --ion-color-contrast-rgb: var(--ion-color-smoke-contrast-rgb);
  --ion-color-shade: var(--ion-color-smoke-shade);
  --ion-color-tint: var(--ion-color-smoke-tint);
}

.ion-color-darkblue {
  --ion-color-base: var(--ion-color-darkblue);
  --ion-color-base-rgb: var(--ion-color-darkblue-rgb);
  --ion-color-contrast: var(--ion-color-darkblue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-darkblue-contrast-rgb);
  --ion-color-shade: var(--ion-color-darkblue-shade);
  --ion-color-tint: var(--ion-color-darkblue-tint);
}

.ion-color-purple {
  --ion-color-base: var(--ion-color-purple);
  --ion-color-base-rgb: var(--ion-color-purple-rgb);
  --ion-color-contrast: var(--ion-color-purple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb);
  --ion-color-shade: var(--ion-color-purple-shade);
  --ion-color-tint: var(--ion-color-purple-tint);
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #99a2a9;
    --ion-color-primary-rgb: 153, 162, 169;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #878f95;
    --ion-color-primary-tint: #a3abb2;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;

    --ion-color-purple: #b8bacf;
    --ion-color-lightpurple-rgb: 184, 186, 207;
    --ion-color-lightpurple-contrast: #000000;
    --ion-color-lightpurple-contrast-rgb: 0, 0, 0;
    --ion-color-lightpurple-shade: #b8bacf;
    --ion-color-lightpurple-tint: #b8bacf;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #011627;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #011627;

    --ion-item-background: #011627;
    --ion-item-background-activated: #011627;
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #011627;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #011627;
  }

  ion-title.title-large {
    --color: white;
  }
}
